*.png
!back_and_forth/examples/*.png
!cryptic/images/filled_401v2.png
!cryptic/images/filled_401v2_blank.png
!cryptic/examples/*.png
!interlocking/examples/*.png
!snakes_ladders/examples/*.png
__pycache__/
*.pyc
.DS_Store
interlocking/puzzles.txt
snakes_ladders/puzzles.txt
back_and_forth/puzzles_personal.py
